/* Style the tab */
.tab {
    overflow: hidden;
    background-color: rgb(15 88 82);
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;

    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 70%;
    positino:absolute;
    font-weight: bold;
    color:white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #bbffbb;
    color:#de1010;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #bfb;
    color:black
}

.tablinks {
    width:33.3%;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}