<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b117eac2a8ee4a478fcd806b5a9fecd8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b117eac2a8ee4a478fcd806b5a9fecd8" ></div>
        
</body>
<script>    
    
            var map_b117eac2a8ee4a478fcd806b5a9fecd8 = L.map(
                "map_b117eac2a8ee4a478fcd806b5a9fecd8",
                {
                    center: [43.8711, -79.4373],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ee1780e81cc34c5a8e65494c41da46bb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b117eac2a8ee4a478fcd806b5a9fecd8);
        
    
            var marker_9da0ba5d7505406191070d9ef29677e8 = L.marker(
                [43.8711, -79.4373],
                {}
            ).addTo(map_b117eac2a8ee4a478fcd806b5a9fecd8);
        
    
            var icon_321d931308f144528b3a75838252c62c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "here", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9da0ba5d7505406191070d9ef29677e8.setIcon(icon_321d931308f144528b3a75838252c62c);
        
    
        var popup_c58031cc790643a4b3e7957098b939bb = L.popup({"maxWidth": "100%"});

        
            var html_67f835ee30524c1c8d1cfd97fc92a95c = $(`<div id="html_67f835ee30524c1c8d1cfd97fc92a95c" style="width: 100.0%; height: 100.0%;">[43.8711, -79.4373]</div>`)[0];
            popup_c58031cc790643a4b3e7957098b939bb.setContent(html_67f835ee30524c1c8d1cfd97fc92a95c);
        

        marker_9da0ba5d7505406191070d9ef29677e8.bindPopup(popup_c58031cc790643a4b3e7957098b939bb)
        ;

        
    
</script>