<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_53dfae9c0f7c49d48cd65ccb806d4607 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_53dfae9c0f7c49d48cd65ccb806d4607" ></div>
        
</body>
<script>    
    
            var map_53dfae9c0f7c49d48cd65ccb806d4607 = L.map(
                "map_53dfae9c0f7c49d48cd65ccb806d4607",
                {
                    center: [43.8711, -79.4373],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_56d683db729d4f0caa86ccf1e553ef9b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_53dfae9c0f7c49d48cd65ccb806d4607);
        
    
            var marker_b3a8480ac9b241b2a1a0c320b1fb97d4 = L.marker(
                [43.8711, -79.4373],
                {}
            ).addTo(map_53dfae9c0f7c49d48cd65ccb806d4607);
        
    
            var icon_be7e1133bf084dfda5251253c5235a0c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "here", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b3a8480ac9b241b2a1a0c320b1fb97d4.setIcon(icon_be7e1133bf084dfda5251253c5235a0c);
        
    
        var popup_b44456bc1f954249a9427066d4008beb = L.popup({"maxWidth": "100%"});

        
            var html_797f8f4dec824d4c9ef6947dbdccdf62 = $(`<div id="html_797f8f4dec824d4c9ef6947dbdccdf62" style="width: 100.0%; height: 100.0%;">[43.8711, -79.4373]</div>`)[0];
            popup_b44456bc1f954249a9427066d4008beb.setContent(html_797f8f4dec824d4c9ef6947dbdccdf62);
        

        marker_b3a8480ac9b241b2a1a0c320b1fb97d4.bindPopup(popup_b44456bc1f954249a9427066d4008beb)
        ;

        
    
</script>