<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d8e46b07bca043a6809c4c4c8731e8b8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d8e46b07bca043a6809c4c4c8731e8b8" ></div>
        
</body>
<script>    
    
            var map_d8e46b07bca043a6809c4c4c8731e8b8 = L.map(
                "map_d8e46b07bca043a6809c4c4c8731e8b8",
                {
                    center: [43.8711, -79.4373],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_36cc321fc1f94722a6b631e689cb53b0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d8e46b07bca043a6809c4c4c8731e8b8);
        
    
            var marker_10fd7a2e10654398bf2d4ded3c7197f3 = L.marker(
                [43.8711, -79.4373],
                {}
            ).addTo(map_d8e46b07bca043a6809c4c4c8731e8b8);
        
    
            var icon_20a3e88a72b04d2b9417d2ae0acf6442 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "here", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_10fd7a2e10654398bf2d4ded3c7197f3.setIcon(icon_20a3e88a72b04d2b9417d2ae0acf6442);
        
    
        var popup_8b21fc868ed14b01a8dda27ab8898670 = L.popup({"maxWidth": "100%"});

        
            var html_1907d0c290d94d6385e2178d724f99ff = $(`<div id="html_1907d0c290d94d6385e2178d724f99ff" style="width: 100.0%; height: 100.0%;">[43.8711, -79.4373]</div>`)[0];
            popup_8b21fc868ed14b01a8dda27ab8898670.setContent(html_1907d0c290d94d6385e2178d724f99ff);
        

        marker_10fd7a2e10654398bf2d4ded3c7197f3.bindPopup(popup_8b21fc868ed14b01a8dda27ab8898670)
        ;

        
    
</script>