<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4740c008f43e4db7ac39ced98bcd92f3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    <script src="../static/js/interactive_poi.js"></script>
    
            <div class="folium-map" id="map_4740c008f43e4db7ac39ced98bcd92f3" ></div>
        
</body>
<script>    
    
        console.log('working perfectly')
        
    
            var map_4740c008f43e4db7ac39ced98bcd92f3 = L.map(
                "map_4740c008f43e4db7ac39ced98bcd92f3",
                {
                    center: [43.7743325, -79.50027054016516],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ea942c070c8b4f079c50ff03120abd66 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4740c008f43e4db7ac39ced98bcd92f3);
        
    
            var marker_a73cade02f714e46b4ce3ac3b24b63cb = L.marker(
                [43.7743325, -79.50027054016516],
                {}
            ).addTo(map_4740c008f43e4db7ac39ced98bcd92f3);
        
    
            var icon_433cffc3287348589788785205e1ba94 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_a73cade02f714e46b4ce3ac3b24b63cb.setIcon(icon_433cffc3287348589788785205e1ba94);
        
    
        var popup_1841682605aa48b0b3b1d9bfe02562c2 = L.popup({"maxWidth": "100%"});

        
            var html_1f8e5767339d40968bc8d3b4ee4f46cf = $(`<div id="html_1f8e5767339d40968bc8d3b4ee4f46cf" style="width: 100.0%; height: 100.0%;">Source</div>`)[0];
            popup_1841682605aa48b0b3b1d9bfe02562c2.setContent(html_1f8e5767339d40968bc8d3b4ee4f46cf);
        

        marker_a73cade02f714e46b4ce3ac3b24b63cb.bindPopup(popup_1841682605aa48b0b3b1d9bfe02562c2)
        ;

        
    
    
            marker_a73cade02f714e46b4ce3ac3b24b63cb.bindTooltip(
                `<div>
                     <strong>Source</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2ae11aee63e74e33922bd68590cf36af = L.marker(
                [43.777198, -79.493438],
                {}
            ).addTo(map_4740c008f43e4db7ac39ced98bcd92f3);
        
    
            var icon_bd4a612b246a4602a30f2cf55993f226 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2ae11aee63e74e33922bd68590cf36af.setIcon(icon_bd4a612b246a4602a30f2cf55993f226);
        
    
        var popup_52d2ce364b6d4ff3b64ae3264b6b8b2e = L.popup({"maxWidth": "100%"});

        
            var html_eb759c3fac0b43ffb0b66e6081c79db7 = $(`<div id="html_eb759c3fac0b43ffb0b66e6081c79db7" style="width: 100.0%; height: 100.0%;"><p> Hudson Bay Construction</p>                       <p><button type='button' id='poi_button' onclick="create_trip('mode_of_transit=foot&origin=[43.7743325, -79.50027054016516]&destination=[43.777198, -79.493438]&time=time_now&date_time=&submit_paths=Submit#');" >go there</button></p>                   </div>`)[0];
            popup_52d2ce364b6d4ff3b64ae3264b6b8b2e.setContent(html_eb759c3fac0b43ffb0b66e6081c79db7);
        

        marker_2ae11aee63e74e33922bd68590cf36af.bindPopup(popup_52d2ce364b6d4ff3b64ae3264b6b8b2e)
        ;

        
    
    
            marker_2ae11aee63e74e33922bd68590cf36af.bindTooltip(
                `<div>
                     <strong>Hudson Bay Construction</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d857efe0968c4ea8900ef2f31b027407 = L.marker(
                [43.781561, -79.492716],
                {}
            ).addTo(map_4740c008f43e4db7ac39ced98bcd92f3);
        
    
            var icon_d16306f21bf1467cb521030a1557f78a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d857efe0968c4ea8900ef2f31b027407.setIcon(icon_d16306f21bf1467cb521030a1557f78a);
        
    
        var popup_7dcdfd70c3d642ff97852270546f304b = L.popup({"maxWidth": "100%"});

        
            var html_7539820601e84063877142e2e80db5d8 = $(`<div id="html_7539820601e84063877142e2e80db5d8" style="width: 100.0%; height: 100.0%;"><p> Hudson Electric</p>                       <p><button type='button' id='poi_button' onclick="create_trip('mode_of_transit=foot&origin=[43.7743325, -79.50027054016516]&destination=[43.781561, -79.492716]&time=time_now&date_time=&submit_paths=Submit#');" >go there</button></p>                   </div>`)[0];
            popup_7dcdfd70c3d642ff97852270546f304b.setContent(html_7539820601e84063877142e2e80db5d8);
        

        marker_d857efe0968c4ea8900ef2f31b027407.bindPopup(popup_7dcdfd70c3d642ff97852270546f304b)
        ;

        
    
    
            marker_d857efe0968c4ea8900ef2f31b027407.bindTooltip(
                `<div>
                     <strong>Hudson Electric</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a0ef13d27d6475bb3d8d99f69f88fd1 = L.marker(
                [43.781486, -79.490158],
                {}
            ).addTo(map_4740c008f43e4db7ac39ced98bcd92f3);
        
    
            var icon_5b884117505246d680199ce05d654db6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5a0ef13d27d6475bb3d8d99f69f88fd1.setIcon(icon_5b884117505246d680199ce05d654db6);
        
    
        var popup_7ecd88421adc42fc8a357025deb6a189 = L.popup({"maxWidth": "100%"});

        
            var html_2fd6849a138e41c5829875b5c8c640d8 = $(`<div id="html_2fd6849a138e41c5829875b5c8c640d8" style="width: 100.0%; height: 100.0%;"><p> International Discount Foods</p>                       <p><button type='button' id='poi_button' onclick="create_trip('mode_of_transit=foot&origin=[43.7743325, -79.50027054016516]&destination=[43.781486, -79.490158]&time=time_now&date_time=&submit_paths=Submit#');" >go there</button></p>                   </div>`)[0];
            popup_7ecd88421adc42fc8a357025deb6a189.setContent(html_2fd6849a138e41c5829875b5c8c640d8);
        

        marker_5a0ef13d27d6475bb3d8d99f69f88fd1.bindPopup(popup_7ecd88421adc42fc8a357025deb6a189)
        ;

        
    
    
            marker_5a0ef13d27d6475bb3d8d99f69f88fd1.bindTooltip(
                `<div>
                     <strong>International Discount Foods</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_99342d1ecbbe4f5aa29468d3d4c41b2c = L.marker(
                [43.783628, -79.482548],
                {}
            ).addTo(map_4740c008f43e4db7ac39ced98bcd92f3);
        
    
            var icon_79eacdb7e1974f2bab017f3c3377ed67 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_99342d1ecbbe4f5aa29468d3d4c41b2c.setIcon(icon_79eacdb7e1974f2bab017f3c3377ed67);
        
    
        var popup_1686fc4cfbe04d9db39f39145788a223 = L.popup({"maxWidth": "100%"});

        
            var html_1f4d2cd186db4f69a7db1a57eed0713b = $(`<div id="html_1f4d2cd186db4f69a7db1a57eed0713b" style="width: 100.0%; height: 100.0%;"><p> Vee J's Enterprises</p>                       <p><button type='button' id='poi_button' onclick="create_trip('mode_of_transit=foot&origin=[43.7743325, -79.50027054016516]&destination=[43.783628, -79.482548]&time=time_now&date_time=&submit_paths=Submit#');" >go there</button></p>                   </div>`)[0];
            popup_1686fc4cfbe04d9db39f39145788a223.setContent(html_1f4d2cd186db4f69a7db1a57eed0713b);
        

        marker_99342d1ecbbe4f5aa29468d3d4c41b2c.bindPopup(popup_1686fc4cfbe04d9db39f39145788a223)
        ;

        
    
    
            marker_99342d1ecbbe4f5aa29468d3d4c41b2c.bindTooltip(
                `<div>
                     <strong>Vee J's Enterprises</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4908da9b26f04b60998c675d4f4cc8ce = L.marker(
                [43.776381, -79.485808],
                {}
            ).addTo(map_4740c008f43e4db7ac39ced98bcd92f3);
        
    
            var icon_022aa31836a64d1887a1261e0674b8d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4908da9b26f04b60998c675d4f4cc8ce.setIcon(icon_022aa31836a64d1887a1261e0674b8d2);
        
    
        var popup_0159bca4e2e44d77ba5d0ff536cbfa2f = L.popup({"maxWidth": "100%"});

        
            var html_0c2c5777fc684eaba0a6303feb913dec = $(`<div id="html_0c2c5777fc684eaba0a6303feb913dec" style="width: 100.0%; height: 100.0%;"><p> Janes Family Foods</p>                       <p><button type='button' id='poi_button' onclick="create_trip('mode_of_transit=foot&origin=[43.7743325, -79.50027054016516]&destination=[43.776381, -79.485808]&time=time_now&date_time=&submit_paths=Submit#');" >go there</button></p>                   </div>`)[0];
            popup_0159bca4e2e44d77ba5d0ff536cbfa2f.setContent(html_0c2c5777fc684eaba0a6303feb913dec);
        

        marker_4908da9b26f04b60998c675d4f4cc8ce.bindPopup(popup_0159bca4e2e44d77ba5d0ff536cbfa2f)
        ;

        
    
    
            marker_4908da9b26f04b60998c675d4f4cc8ce.bindTooltip(
                `<div>
                     <strong>Janes Family Foods</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_63512076504847e9b2d5c6546b453a3b = L.marker(
                [43.769266, -79.521875],
                {}
            ).addTo(map_4740c008f43e4db7ac39ced98bcd92f3);
        
    
            var icon_0351f84752f9487186def7a670dc74c9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_63512076504847e9b2d5c6546b453a3b.setIcon(icon_0351f84752f9487186def7a670dc74c9);
        
    
        var popup_1f0e4e6a26be4dd6a9976b80c62c496f = L.popup({"maxWidth": "100%"});

        
            var html_61edba0cc8434dec83aa1f8d95d2b7bd = $(`<div id="html_61edba0cc8434dec83aa1f8d95d2b7bd" style="width: 100.0%; height: 100.0%;"><p> Smart Choice Foodmart</p>                       <p><button type='button' id='poi_button' onclick="create_trip('mode_of_transit=foot&origin=[43.7743325, -79.50027054016516]&destination=[43.769266, -79.521875]&time=time_now&date_time=&submit_paths=Submit#');" >go there</button></p>                   </div>`)[0];
            popup_1f0e4e6a26be4dd6a9976b80c62c496f.setContent(html_61edba0cc8434dec83aa1f8d95d2b7bd);
        

        marker_63512076504847e9b2d5c6546b453a3b.bindPopup(popup_1f0e4e6a26be4dd6a9976b80c62c496f)
        ;

        
    
    
            marker_63512076504847e9b2d5c6546b453a3b.bindTooltip(
                `<div>
                     <strong>Smart Choice Foodmart</strong>
                 </div>`,
                {"sticky": true}
            );
        
</script>