<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_533a2c98dcfc4c4e91f72740b6d44317 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_533a2c98dcfc4c4e91f72740b6d44317" ></div>
        
</body>
<script>    
    
            var map_533a2c98dcfc4c4e91f72740b6d44317 = L.map(
                "map_533a2c98dcfc4c4e91f72740b6d44317",
                {
                    center: [43.8711, -79.4373],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0868ed0958b94344ae0ae00b2e7eae55 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var marker_2c79921999f8495d83041dbfce0a2819 = L.marker(
                [43.8711, -79.4373],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_928c3d64e15341f0838e1bff69433f3c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2c79921999f8495d83041dbfce0a2819.setIcon(icon_928c3d64e15341f0838e1bff69433f3c);
        
    
        var popup_7632307e48a54d349d9bea472165d85d = L.popup({"maxWidth": "100%"});

        
            var html_be88d1fedbae44c68677a3a72ae48fc3 = $(`<div id="html_be88d1fedbae44c68677a3a72ae48fc3" style="width: 100.0%; height: 100.0%;">Source</div>`)[0];
            popup_7632307e48a54d349d9bea472165d85d.setContent(html_be88d1fedbae44c68677a3a72ae48fc3);
        

        marker_2c79921999f8495d83041dbfce0a2819.bindPopup(popup_7632307e48a54d349d9bea472165d85d)
        ;

        
    
    
            marker_2c79921999f8495d83041dbfce0a2819.bindTooltip(
                `<div>
                     <strong>Source</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_00ad6c46fad94ab1ac52d00bd2c98620 = L.marker(
                [43.876482, -79.438686],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_ef4b96e4b18f4e2a86925ac4eed4dee5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_00ad6c46fad94ab1ac52d00bd2c98620.setIcon(icon_ef4b96e4b18f4e2a86925ac4eed4dee5);
        
    
        var popup_62b1c23ec75f4403ab45d44d8cfa882c = L.popup({"maxWidth": "100%"});

        
            var html_26273344a8fe46a7a3740ca898af34a6 = $(`<div id="html_26273344a8fe46a7a3740ca898af34a6" style="width: 100.0%; height: 100.0%;">Boigon Stanley Food Brokers</div>`)[0];
            popup_62b1c23ec75f4403ab45d44d8cfa882c.setContent(html_26273344a8fe46a7a3740ca898af34a6);
        

        marker_00ad6c46fad94ab1ac52d00bd2c98620.bindPopup(popup_62b1c23ec75f4403ab45d44d8cfa882c)
        ;

        
    
    
            marker_00ad6c46fad94ab1ac52d00bd2c98620.bindTooltip(
                `<div>
                     <strong>Boigon Stanley Food Brokers</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_97b9f182729e432587ae993f5401a31c = L.marker(
                [43.878153, -79.4396],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_2e7c5f1a89de413ca31727d01047465b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_97b9f182729e432587ae993f5401a31c.setIcon(icon_2e7c5f1a89de413ca31727d01047465b);
        
    
        var popup_44c43af3600647eeac529a447e4056aa = L.popup({"maxWidth": "100%"});

        
            var html_c46f8c8c067b4cc998355b4221ed0cf4 = $(`<div id="html_c46f8c8c067b4cc998355b4221ed0cf4" style="width: 100.0%; height: 100.0%;">Bismillah Grocers</div>`)[0];
            popup_44c43af3600647eeac529a447e4056aa.setContent(html_c46f8c8c067b4cc998355b4221ed0cf4);
        

        marker_97b9f182729e432587ae993f5401a31c.bindPopup(popup_44c43af3600647eeac529a447e4056aa)
        ;

        
    
    
            marker_97b9f182729e432587ae993f5401a31c.bindTooltip(
                `<div>
                     <strong>Bismillah Grocers</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2f7595f142384843abdabd28f45cef4c = L.marker(
                [43.878846, -79.43873],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_bfb3638b7c4f4d0e9dcc6cec0647eb03 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2f7595f142384843abdabd28f45cef4c.setIcon(icon_bfb3638b7c4f4d0e9dcc6cec0647eb03);
        
    
        var popup_b4ec0b37125c4e6ba64ac302997ab51c = L.popup({"maxWidth": "100%"});

        
            var html_412fd0468fef4f39ae831b050e64cee6 = $(`<div id="html_412fd0468fef4f39ae831b050e64cee6" style="width: 100.0%; height: 100.0%;">Tavazo</div>`)[0];
            popup_b4ec0b37125c4e6ba64ac302997ab51c.setContent(html_412fd0468fef4f39ae831b050e64cee6);
        

        marker_2f7595f142384843abdabd28f45cef4c.bindPopup(popup_b4ec0b37125c4e6ba64ac302997ab51c)
        ;

        
    
    
            marker_2f7595f142384843abdabd28f45cef4c.bindTooltip(
                `<div>
                     <strong>Tavazo</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_74f127b0a69a408798e3b4a3e0c4314f = L.marker(
                [43.863277, -79.436006],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_1a4178f9b6ab411296ce6879853b48c9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_74f127b0a69a408798e3b4a3e0c4314f.setIcon(icon_1a4178f9b6ab411296ce6879853b48c9);
        
    
        var popup_4e10497cca174ab78dcd31aa12c34c87 = L.popup({"maxWidth": "100%"});

        
            var html_7267d068128244e3868f2ca9c2e21ecf = $(`<div id="html_7267d068128244e3868f2ca9c2e21ecf" style="width: 100.0%; height: 100.0%;">Circle K</div>`)[0];
            popup_4e10497cca174ab78dcd31aa12c34c87.setContent(html_7267d068128244e3868f2ca9c2e21ecf);
        

        marker_74f127b0a69a408798e3b4a3e0c4314f.bindPopup(popup_4e10497cca174ab78dcd31aa12c34c87)
        ;

        
    
    
            marker_74f127b0a69a408798e3b4a3e0c4314f.bindTooltip(
                `<div>
                     <strong>Circle K</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7c07194720fd4c12a70eda32592a8eee = L.marker(
                [43.862263, -79.432662],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_a788f7bdaa3c417585e163d39119cc0a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7c07194720fd4c12a70eda32592a8eee.setIcon(icon_a788f7bdaa3c417585e163d39119cc0a);
        
    
        var popup_51da65eb241c4f398896c3aa2dd410f9 = L.popup({"maxWidth": "100%"});

        
            var html_bc3b60991bf14faba014a97d8c79d93d = $(`<div id="html_bc3b60991bf14faba014a97d8c79d93d" style="width: 100.0%; height: 100.0%;">T&T</div>`)[0];
            popup_51da65eb241c4f398896c3aa2dd410f9.setContent(html_bc3b60991bf14faba014a97d8c79d93d);
        

        marker_7c07194720fd4c12a70eda32592a8eee.bindPopup(popup_51da65eb241c4f398896c3aa2dd410f9)
        ;

        
    
    
            marker_7c07194720fd4c12a70eda32592a8eee.bindTooltip(
                `<div>
                     <strong>T&T</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_46ae309120ed4fe780a5c9c9dbf6dc11 = L.marker(
                [43.876713, -79.425841],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_b8403469fcb44922a2e984b220bbd14b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_46ae309120ed4fe780a5c9c9dbf6dc11.setIcon(icon_b8403469fcb44922a2e984b220bbd14b);
        
    
        var popup_8c2b4e3cb6044196b4d6ba1d09c055dc = L.popup({"maxWidth": "100%"});

        
            var html_ec1be42af04549ff9660412f8491d914 = $(`<div id="html_ec1be42af04549ff9660412f8491d914" style="width: 100.0%; height: 100.0%;">AME Son Holdings</div>`)[0];
            popup_8c2b4e3cb6044196b4d6ba1d09c055dc.setContent(html_ec1be42af04549ff9660412f8491d914);
        

        marker_46ae309120ed4fe780a5c9c9dbf6dc11.bindPopup(popup_8c2b4e3cb6044196b4d6ba1d09c055dc)
        ;

        
    
    
            marker_46ae309120ed4fe780a5c9c9dbf6dc11.bindTooltip(
                `<div>
                     <strong>AME Son Holdings</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_93ab6ac845504ed591ada457a4ed6ae1 = L.marker(
                [43.861239, -79.434395],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_4f0bde77bef14a84b838bcfbc91f1c49 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_93ab6ac845504ed591ada457a4ed6ae1.setIcon(icon_4f0bde77bef14a84b838bcfbc91f1c49);
        
    
        var popup_69f2a5756596454ebc9e53ce7f95c563 = L.popup({"maxWidth": "100%"});

        
            var html_505ef1d9caf64229bdc3d3ca20b36067 = $(`<div id="html_505ef1d9caf64229bdc3d3ca20b36067" style="width: 100.0%; height: 100.0%;">Nando's Flame Grilled Chicken</div>`)[0];
            popup_69f2a5756596454ebc9e53ce7f95c563.setContent(html_505ef1d9caf64229bdc3d3ca20b36067);
        

        marker_93ab6ac845504ed591ada457a4ed6ae1.bindPopup(popup_69f2a5756596454ebc9e53ce7f95c563)
        ;

        
    
    
            marker_93ab6ac845504ed591ada457a4ed6ae1.bindTooltip(
                `<div>
                     <strong>Nando's Flame Grilled Chicken</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_45518c67f2dc4c89a5759e3484d1e839 = L.marker(
                [43.878553, -79.425557],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_81cdcb2ee77a4bbe8c5de1914ab67ae3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_45518c67f2dc4c89a5759e3484d1e839.setIcon(icon_81cdcb2ee77a4bbe8c5de1914ab67ae3);
        
    
        var popup_c85cde14a22c48a2a555b7f1e18aa7f5 = L.popup({"maxWidth": "100%"});

        
            var html_83fa834129f04bdc84e6642f2e69e264 = $(`<div id="html_83fa834129f04bdc84e6642f2e69e264" style="width: 100.0%; height: 100.0%;">Dan's Rip'n Hotsauce and Peppers</div>`)[0];
            popup_c85cde14a22c48a2a555b7f1e18aa7f5.setContent(html_83fa834129f04bdc84e6642f2e69e264);
        

        marker_45518c67f2dc4c89a5759e3484d1e839.bindPopup(popup_c85cde14a22c48a2a555b7f1e18aa7f5)
        ;

        
    
    
            marker_45518c67f2dc4c89a5759e3484d1e839.bindTooltip(
                `<div>
                     <strong>Dan's Rip'n Hotsauce and Peppers</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_270943477c3a4bd7a0f7c69584d524e6 = L.marker(
                [43.882114, -79.441356],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_aabcf7afbe2c446685104e91d14d9be1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_270943477c3a4bd7a0f7c69584d524e6.setIcon(icon_aabcf7afbe2c446685104e91d14d9be1);
        
    
        var popup_a51cf9f55d8741bf95c668d7894e6d88 = L.popup({"maxWidth": "100%"});

        
            var html_e3e32fbc86974351b849674202190aec = $(`<div id="html_e3e32fbc86974351b849674202190aec" style="width: 100.0%; height: 100.0%;">Levendale Convenience</div>`)[0];
            popup_a51cf9f55d8741bf95c668d7894e6d88.setContent(html_e3e32fbc86974351b849674202190aec);
        

        marker_270943477c3a4bd7a0f7c69584d524e6.bindPopup(popup_a51cf9f55d8741bf95c668d7894e6d88)
        ;

        
    
    
            marker_270943477c3a4bd7a0f7c69584d524e6.bindTooltip(
                `<div>
                     <strong>Levendale Convenience</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a9fc198bfd4d4714939fe0a4624a5783 = L.marker(
                [43.882324, -79.440254],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_61b6c31f7a234174853338260f7b25a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a9fc198bfd4d4714939fe0a4624a5783.setIcon(icon_61b6c31f7a234174853338260f7b25a1);
        
    
        var popup_a1f4c1429cc94585a268ac9aaa881889 = L.popup({"maxWidth": "100%"});

        
            var html_7b6ab7bb89e24a5cb256dda21369d78e = $(`<div id="html_7b6ab7bb89e24a5cb256dda21369d78e" style="width: 100.0%; height: 100.0%;">Heeva Fine Foods</div>`)[0];
            popup_a1f4c1429cc94585a268ac9aaa881889.setContent(html_7b6ab7bb89e24a5cb256dda21369d78e);
        

        marker_a9fc198bfd4d4714939fe0a4624a5783.bindPopup(popup_a1f4c1429cc94585a268ac9aaa881889)
        ;

        
    
    
            marker_a9fc198bfd4d4714939fe0a4624a5783.bindTooltip(
                `<div>
                     <strong>Heeva Fine Foods</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_25e425efeb7247348e03fd5b5d875da4 = L.marker(
                [43.879381, -79.425699],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_b889e74077da48aa9a89fd1c4626e000 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_25e425efeb7247348e03fd5b5d875da4.setIcon(icon_b889e74077da48aa9a89fd1c4626e000);
        
    
        var popup_340bf72a1eea494d8b766c8596a6c7d9 = L.popup({"maxWidth": "100%"});

        
            var html_f3c4acbb7d254af1a5a5466deafc4bb8 = $(`<div id="html_f3c4acbb7d254af1a5a5466deafc4bb8" style="width: 100.0%; height: 100.0%;">Richmond Hill Community Food Bank</div>`)[0];
            popup_340bf72a1eea494d8b766c8596a6c7d9.setContent(html_f3c4acbb7d254af1a5a5466deafc4bb8);
        

        marker_25e425efeb7247348e03fd5b5d875da4.bindPopup(popup_340bf72a1eea494d8b766c8596a6c7d9)
        ;

        
    
    
            marker_25e425efeb7247348e03fd5b5d875da4.bindTooltip(
                `<div>
                     <strong>Richmond Hill Community Food Bank</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_820b7d824742430e99bf0e09b7f7eaf4 = L.marker(
                [43.882913, -79.441715],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_eae63708551e4a8da87ca681c043dc42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_820b7d824742430e99bf0e09b7f7eaf4.setIcon(icon_eae63708551e4a8da87ca681c043dc42);
        
    
        var popup_8b516507fc8b46c38944b3014c4bf1c9 = L.popup({"maxWidth": "100%"});

        
            var html_53751caae1ea42a1a6434f745c2fefd6 = $(`<div id="html_53751caae1ea42a1a6434f745c2fefd6" style="width: 100.0%; height: 100.0%;">Nofrills</div>`)[0];
            popup_8b516507fc8b46c38944b3014c4bf1c9.setContent(html_53751caae1ea42a1a6434f745c2fefd6);
        

        marker_820b7d824742430e99bf0e09b7f7eaf4.bindPopup(popup_8b516507fc8b46c38944b3014c4bf1c9)
        ;

        
    
    
            marker_820b7d824742430e99bf0e09b7f7eaf4.bindTooltip(
                `<div>
                     <strong>Nofrills</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bc9ceca38da54538a3457a4084181f45 = L.marker(
                [43.885485, -79.440031],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_05dbd8673e3745a9a29e210d6d6c1ce2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bc9ceca38da54538a3457a4084181f45.setIcon(icon_05dbd8673e3745a9a29e210d6d6c1ce2);
        
    
        var popup_d40fd0500e504442a4421e0a135c9cc9 = L.popup({"maxWidth": "100%"});

        
            var html_19731af52e524a328b12912561eb66c9 = $(`<div id="html_19731af52e524a328b12912561eb66c9" style="width: 100.0%; height: 100.0%;">Circle K</div>`)[0];
            popup_d40fd0500e504442a4421e0a135c9cc9.setContent(html_19731af52e524a328b12912561eb66c9);
        

        marker_bc9ceca38da54538a3457a4084181f45.bindPopup(popup_d40fd0500e504442a4421e0a135c9cc9)
        ;

        
    
    
            marker_bc9ceca38da54538a3457a4084181f45.bindTooltip(
                `<div>
                     <strong>Circle K</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_caf8fa0a14444af8b0e690e383687a17 = L.marker(
                [43.88605, -79.442027],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_d9f6fc114fd6404d931501970db88ea7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_caf8fa0a14444af8b0e690e383687a17.setIcon(icon_d9f6fc114fd6404d931501970db88ea7);
        
    
        var popup_689e538cf1914c73b494bbecbcc1de27 = L.popup({"maxWidth": "100%"});

        
            var html_cb30d377e91d42079711986ed4158a0f = $(`<div id="html_cb30d377e91d42079711986ed4158a0f" style="width: 100.0%; height: 100.0%;">Madina Foods</div>`)[0];
            popup_689e538cf1914c73b494bbecbcc1de27.setContent(html_cb30d377e91d42079711986ed4158a0f);
        

        marker_caf8fa0a14444af8b0e690e383687a17.bindPopup(popup_689e538cf1914c73b494bbecbcc1de27)
        ;

        
    
    
            marker_caf8fa0a14444af8b0e690e383687a17.bindTooltip(
                `<div>
                     <strong>Madina Foods</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c6b2793736364112b4c838625584df46 = L.marker(
                [43.856119, -79.432055],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_1ea0c10c83844b6e811a1dab5db909e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c6b2793736364112b4c838625584df46.setIcon(icon_1ea0c10c83844b6e811a1dab5db909e7);
        
    
        var popup_9a2e297edda54dc1870f9f6b3e247b2a = L.popup({"maxWidth": "100%"});

        
            var html_38b9613d8c0a41a49c82c486bae790cc = $(`<div id="html_38b9613d8c0a41a49c82c486bae790cc" style="width: 100.0%; height: 100.0%;">Supercentre</div>`)[0];
            popup_9a2e297edda54dc1870f9f6b3e247b2a.setContent(html_38b9613d8c0a41a49c82c486bae790cc);
        

        marker_c6b2793736364112b4c838625584df46.bindPopup(popup_9a2e297edda54dc1870f9f6b3e247b2a)
        ;

        
    
    
            marker_c6b2793736364112b4c838625584df46.bindTooltip(
                `<div>
                     <strong>Supercentre</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0502f47e59ff4f91bd53fa211bfdfb4e = L.marker(
                [43.856069, -79.432127],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_5bfb16d1b6974414b7875980ba70c5ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0502f47e59ff4f91bd53fa211bfdfb4e.setIcon(icon_5bfb16d1b6974414b7875980ba70c5ed);
        
    
        var popup_59de7bb26d484bdc873ee8d51d631fde = L.popup({"maxWidth": "100%"});

        
            var html_379f01798722400696b8ed8e9260a906 = $(`<div id="html_379f01798722400696b8ed8e9260a906" style="width: 100.0%; height: 100.0%;">Nofrills</div>`)[0];
            popup_59de7bb26d484bdc873ee8d51d631fde.setContent(html_379f01798722400696b8ed8e9260a906);
        

        marker_0502f47e59ff4f91bd53fa211bfdfb4e.bindPopup(popup_59de7bb26d484bdc873ee8d51d631fde)
        ;

        
    
    
            marker_0502f47e59ff4f91bd53fa211bfdfb4e.bindTooltip(
                `<div>
                     <strong>Nofrills</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dd3ec0b19a23496f930452e41f07d94a = L.marker(
                [43.866023, -79.457908],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_9bf0d88f4c514100b759b951bcd7297f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_dd3ec0b19a23496f930452e41f07d94a.setIcon(icon_9bf0d88f4c514100b759b951bcd7297f);
        
    
        var popup_6b737fe8875940ab93347c8d39a9acb1 = L.popup({"maxWidth": "100%"});

        
            var html_47754aecaf0d4ba68dc06e1eca1b0371 = $(`<div id="html_47754aecaf0d4ba68dc06e1eca1b0371" style="width: 100.0%; height: 100.0%;">Sue's Fresh Market</div>`)[0];
            popup_6b737fe8875940ab93347c8d39a9acb1.setContent(html_47754aecaf0d4ba68dc06e1eca1b0371);
        

        marker_dd3ec0b19a23496f930452e41f07d94a.bindPopup(popup_6b737fe8875940ab93347c8d39a9acb1)
        ;

        
    
    
            marker_dd3ec0b19a23496f930452e41f07d94a.bindTooltip(
                `<div>
                     <strong>Sue's Fresh Market</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7000aa5364ce4e7e90afa9841c64becb = L.marker(
                [43.875479, -79.416326],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_df94d8e053d449c5bf119da9cd25a65f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7000aa5364ce4e7e90afa9841c64becb.setIcon(icon_df94d8e053d449c5bf119da9cd25a65f);
        
    
        var popup_1925395696a549df9eb546595d34beda = L.popup({"maxWidth": "100%"});

        
            var html_2664f6fea5634cfd932d3760e70d90e8 = $(`<div id="html_2664f6fea5634cfd932d3760e70d90e8" style="width: 100.0%; height: 100.0%;">Mackenzie's Convenience</div>`)[0];
            popup_1925395696a549df9eb546595d34beda.setContent(html_2664f6fea5634cfd932d3760e70d90e8);
        

        marker_7000aa5364ce4e7e90afa9841c64becb.bindPopup(popup_1925395696a549df9eb546595d34beda)
        ;

        
    
    
            marker_7000aa5364ce4e7e90afa9841c64becb.bindTooltip(
                `<div>
                     <strong>Mackenzie's Convenience</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_34117de8182845d8a0b4d2fb22eff9f5 = L.marker(
                [43.876217, -79.41652],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_6282b043eccc49f2a7b01b0f25dc794f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_34117de8182845d8a0b4d2fb22eff9f5.setIcon(icon_6282b043eccc49f2a7b01b0f25dc794f);
        
    
        var popup_85cd6a2d17824bf480dcfa7047c15f12 = L.popup({"maxWidth": "100%"});

        
            var html_6c6f2a45162f49668ce9ee8531c02694 = $(`<div id="html_6c6f2a45162f49668ce9ee8531c02694" style="width: 100.0%; height: 100.0%;">Allencourt Variety & Gift</div>`)[0];
            popup_85cd6a2d17824bf480dcfa7047c15f12.setContent(html_6c6f2a45162f49668ce9ee8531c02694);
        

        marker_34117de8182845d8a0b4d2fb22eff9f5.bindPopup(popup_85cd6a2d17824bf480dcfa7047c15f12)
        ;

        
    
    
            marker_34117de8182845d8a0b4d2fb22eff9f5.bindTooltip(
                `<div>
                     <strong>Allencourt Variety & Gift</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_98b6ae8bbff7447293c38e04ae03de73 = L.marker(
                [43.855082, -79.437048],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_11926549e3a64ba28a0dbd84660934be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_98b6ae8bbff7447293c38e04ae03de73.setIcon(icon_11926549e3a64ba28a0dbd84660934be);
        
    
        var popup_5124f43e813844fba2be482b29ea3785 = L.popup({"maxWidth": "100%"});

        
            var html_24208ea0fee44ff880cc4e7fbb8727fb = $(`<div id="html_24208ea0fee44ff880cc4e7fbb8727fb" style="width: 100.0%; height: 100.0%;">Fabu Licious Tastes</div>`)[0];
            popup_5124f43e813844fba2be482b29ea3785.setContent(html_24208ea0fee44ff880cc4e7fbb8727fb);
        

        marker_98b6ae8bbff7447293c38e04ae03de73.bindPopup(popup_5124f43e813844fba2be482b29ea3785)
        ;

        
    
    
            marker_98b6ae8bbff7447293c38e04ae03de73.bindTooltip(
                `<div>
                     <strong>Fabu Licious Tastes</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5982cd98ea294e808548de8eab48c694 = L.marker(
                [43.867242, -79.458914],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_93f5a2d45aa7410f87e71167fc066a43 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5982cd98ea294e808548de8eab48c694.setIcon(icon_93f5a2d45aa7410f87e71167fc066a43);
        
    
        var popup_a475df124bd541d29dfbc9be8f2fe15d = L.popup({"maxWidth": "100%"});

        
            var html_aca0e4a0379741abbeab52c75a7dc4c6 = $(`<div id="html_aca0e4a0379741abbeab52c75a7dc4c6" style="width: 100.0%; height: 100.0%;">Daisy Mart</div>`)[0];
            popup_a475df124bd541d29dfbc9be8f2fe15d.setContent(html_aca0e4a0379741abbeab52c75a7dc4c6);
        

        marker_5982cd98ea294e808548de8eab48c694.bindPopup(popup_a475df124bd541d29dfbc9be8f2fe15d)
        ;

        
    
    
            marker_5982cd98ea294e808548de8eab48c694.bindTooltip(
                `<div>
                     <strong>Daisy Mart</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_21fa82bc5ef042ec837e7790243d93e3 = L.marker(
                [43.854695, -79.43636],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_d131de5e562b4d4fa94dc12fbf50c271 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_21fa82bc5ef042ec837e7790243d93e3.setIcon(icon_d131de5e562b4d4fa94dc12fbf50c271);
        
    
        var popup_622290f69550444fbe115e900dceee5e = L.popup({"maxWidth": "100%"});

        
            var html_b5554f26e0b7469397ba2eec9d8088b9 = $(`<div id="html_b5554f26e0b7469397ba2eec9d8088b9" style="width: 100.0%; height: 100.0%;">S&h Health Foods</div>`)[0];
            popup_622290f69550444fbe115e900dceee5e.setContent(html_b5554f26e0b7469397ba2eec9d8088b9);
        

        marker_21fa82bc5ef042ec837e7790243d93e3.bindPopup(popup_622290f69550444fbe115e900dceee5e)
        ;

        
    
    
            marker_21fa82bc5ef042ec837e7790243d93e3.bindTooltip(
                `<div>
                     <strong>S&h Health Foods</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1af552fc46aa4e4b81da9d40510d4404 = L.marker(
                [43.887124, -79.442406],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_6b86f8f55f5243a38a73c6105d0d8e1a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1af552fc46aa4e4b81da9d40510d4404.setIcon(icon_6b86f8f55f5243a38a73c6105d0d8e1a);
        
    
        var popup_7b332c8bd5914158b4338d352587a4c9 = L.popup({"maxWidth": "100%"});

        
            var html_334c8b803b834a98879f41290d45da8e = $(`<div id="html_334c8b803b834a98879f41290d45da8e" style="width: 100.0%; height: 100.0%;">Richmond Halal Meat & Groceries</div>`)[0];
            popup_7b332c8bd5914158b4338d352587a4c9.setContent(html_334c8b803b834a98879f41290d45da8e);
        

        marker_1af552fc46aa4e4b81da9d40510d4404.bindPopup(popup_7b332c8bd5914158b4338d352587a4c9)
        ;

        
    
    
            marker_1af552fc46aa4e4b81da9d40510d4404.bindTooltip(
                `<div>
                     <strong>Richmond Halal Meat & Groceries</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e317131f75f24a518f6bac52499ae903 = L.marker(
                [43.887214, -79.442843],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_794d9b121ba54f948444234f4720c227 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e317131f75f24a518f6bac52499ae903.setIcon(icon_794d9b121ba54f948444234f4720c227);
        
    
        var popup_8868e5553c124fc7aefef6e5cb19f4cd = L.popup({"maxWidth": "100%"});

        
            var html_e430ae68bae84414876ee43777ab0d46 = $(`<div id="html_e430ae68bae84414876ee43777ab0d46" style="width: 100.0%; height: 100.0%;">Lucky 7 Convenience Smoke</div>`)[0];
            popup_8868e5553c124fc7aefef6e5cb19f4cd.setContent(html_e430ae68bae84414876ee43777ab0d46);
        

        marker_e317131f75f24a518f6bac52499ae903.bindPopup(popup_8868e5553c124fc7aefef6e5cb19f4cd)
        ;

        
    
    
            marker_e317131f75f24a518f6bac52499ae903.bindTooltip(
                `<div>
                     <strong>Lucky 7 Convenience Smoke</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f655fe35b043464baf7c76d522a56108 = L.marker(
                [43.875786, -79.414748],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_4d3e51bdf9024ab88470514c9263251b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f655fe35b043464baf7c76d522a56108.setIcon(icon_4d3e51bdf9024ab88470514c9263251b);
        
    
        var popup_a892ac3e5fae4a9da29f17fac5a15146 = L.popup({"maxWidth": "100%"});

        
            var html_a621661da60b4182912166e620e4c0fa = $(`<div id="html_a621661da60b4182912166e620e4c0fa" style="width: 100.0%; height: 100.0%;">Circle K</div>`)[0];
            popup_a892ac3e5fae4a9da29f17fac5a15146.setContent(html_a621661da60b4182912166e620e4c0fa);
        

        marker_f655fe35b043464baf7c76d522a56108.bindPopup(popup_a892ac3e5fae4a9da29f17fac5a15146)
        ;

        
    
    
            marker_f655fe35b043464baf7c76d522a56108.bindTooltip(
                `<div>
                     <strong>Circle K</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a0033ad35a3a43e2b60fe36542bb647f = L.marker(
                [43.853748, -79.437103],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_a370826064794b1d9aff37885d8b7b85 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a0033ad35a3a43e2b60fe36542bb647f.setIcon(icon_a370826064794b1d9aff37885d8b7b85);
        
    
        var popup_9476bb2acd9b4765b367cb75d73c5a47 = L.popup({"maxWidth": "100%"});

        
            var html_6868ae4d4c144552b47f041491f8f0fb = $(`<div id="html_6868ae4d4c144552b47f041491f8f0fb" style="width: 100.0%; height: 100.0%;">Kernels Popcorn</div>`)[0];
            popup_9476bb2acd9b4765b367cb75d73c5a47.setContent(html_6868ae4d4c144552b47f041491f8f0fb);
        

        marker_a0033ad35a3a43e2b60fe36542bb647f.bindPopup(popup_9476bb2acd9b4765b367cb75d73c5a47)
        ;

        
    
    
            marker_a0033ad35a3a43e2b60fe36542bb647f.bindTooltip(
                `<div>
                     <strong>Kernels Popcorn</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cbe758d1faa44399ba04b5296d16ca87 = L.marker(
                [43.875791, -79.413515],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_316943423be14ded876b0e390e644aae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cbe758d1faa44399ba04b5296d16ca87.setIcon(icon_316943423be14ded876b0e390e644aae);
        
    
        var popup_23b2fde96dad4d34ae10c83f86acb763 = L.popup({"maxWidth": "100%"});

        
            var html_35b0c1fc62f343f7bb6f959356ee5106 = $(`<div id="html_35b0c1fc62f343f7bb6f959356ee5106" style="width: 100.0%; height: 100.0%;">Jit's Mart</div>`)[0];
            popup_23b2fde96dad4d34ae10c83f86acb763.setContent(html_35b0c1fc62f343f7bb6f959356ee5106);
        

        marker_cbe758d1faa44399ba04b5296d16ca87.bindPopup(popup_23b2fde96dad4d34ae10c83f86acb763)
        ;

        
    
    
            marker_cbe758d1faa44399ba04b5296d16ca87.bindTooltip(
                `<div>
                     <strong>Jit's Mart</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_06feaed0c3e64ef3aea304c89798a620 = L.marker(
                [43.888657, -79.442174],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_9312d270637a4394a0b5cd084fc8209c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_06feaed0c3e64ef3aea304c89798a620.setIcon(icon_9312d270637a4394a0b5cd084fc8209c);
        
    
        var popup_61b5bc6e6f314659b50e305053c71e8b = L.popup({"maxWidth": "100%"});

        
            var html_8ceef1f90d034f86a0c487d074fd4dc8 = $(`<div id="html_8ceef1f90d034f86a0c487d074fd4dc8" style="width: 100.0%; height: 100.0%;">Shayan Convenience</div>`)[0];
            popup_61b5bc6e6f314659b50e305053c71e8b.setContent(html_8ceef1f90d034f86a0c487d074fd4dc8);
        

        marker_06feaed0c3e64ef3aea304c89798a620.bindPopup(popup_61b5bc6e6f314659b50e305053c71e8b)
        ;

        
    
    
            marker_06feaed0c3e64ef3aea304c89798a620.bindTooltip(
                `<div>
                     <strong>Shayan Convenience</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ee688f9cd3db4697909097648c01bc43 = L.marker(
                [43.867489, -79.412773],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_009fb2bce8ca4afd9518bbc8ccf6826c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ee688f9cd3db4697909097648c01bc43.setIcon(icon_009fb2bce8ca4afd9518bbc8ccf6826c);
        
    
        var popup_9f784b95098941e98224378bde54a405 = L.popup({"maxWidth": "100%"});

        
            var html_74b0727db9524a9392748f7ba032827f = $(`<div id="html_74b0727db9524a9392748f7ba032827f" style="width: 100.0%; height: 100.0%;">Bruno's Fine Foods</div>`)[0];
            popup_9f784b95098941e98224378bde54a405.setContent(html_74b0727db9524a9392748f7ba032827f);
        

        marker_ee688f9cd3db4697909097648c01bc43.bindPopup(popup_9f784b95098941e98224378bde54a405)
        ;

        
    
    
            marker_ee688f9cd3db4697909097648c01bc43.bindTooltip(
                `<div>
                     <strong>Bruno's Fine Foods</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7bb346bef38f4b8182c933315e5d96f2 = L.marker(
                [43.868045, -79.412168],
                {}
            ).addTo(map_533a2c98dcfc4c4e91f72740b6d44317);
        
    
            var icon_fdc889bd7f364968b9a85cb89797532c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-cart", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7bb346bef38f4b8182c933315e5d96f2.setIcon(icon_fdc889bd7f364968b9a85cb89797532c);
        
    
        var popup_1dc788dab08842c2b463a303a2fde557 = L.popup({"maxWidth": "100%"});

        
            var html_cec576258c40449880979af69599fb11 = $(`<div id="html_cec576258c40449880979af69599fb11" style="width: 100.0%; height: 100.0%;">Village Gate Variety</div>`)[0];
            popup_1dc788dab08842c2b463a303a2fde557.setContent(html_cec576258c40449880979af69599fb11);
        

        marker_7bb346bef38f4b8182c933315e5d96f2.bindPopup(popup_1dc788dab08842c2b463a303a2fde557)
        ;

        
    
    
            marker_7bb346bef38f4b8182c933315e5d96f2.bindTooltip(
                `<div>
                     <strong>Village Gate Variety</strong>
                 </div>`,
                {"sticky": true}
            );
        
</script>